#calcContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: gainsboro;
}

.gui {
    background-color: black;
    color: white;
    width: 400px;
    height: 50px;
    margin: 10px;

}

.calcButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.btn {
    height: 50px; width: 100px;
    margin: 5px;
    border: solid black 1px;
}

.btn:hover {
    background-color: gray; 
}